In [7]:
# import the required libraries here
import pandas as pd
import matplotlib.pyplot as plt
import os

In [10]:
# task: read in our previously created file that contains the business IDs of interest
# one line
businesses = pd.read_csv('business_list.csv')

In [9]:
os.chdir("C:\\Users\\pbj2766\\Documents\\Data Science\\Yelp")

In [11]:
businesses.head()
businesses.shape

(6804, 4)

In [12]:
business_ids = businesses['business_id'].values
print(business_ids[:5])

['fweCYi8FmbJXHCqLnwuk8w' 'bJP4l_BGq2CudEu0m-wNjg'
 'WlArCYe6xCzOe5u2Lt1how' 'jwHtNvHBPafiAwM92jM8yA'
 'v7ZFEEqJBg_r8NCwHRP_2A']

In [13]:
# For convenience here, again we are accessing the data in the working directory that contains our notebooks.
# Normal best practise is to keep your data separate, but this keeps things simple here.
# If you're comfortable specifying a filepath to files outside of this working directory, then feel free to do so.
# task: create a reader object for the review json file
# Hint: use lines=True as before but add the chunksize=100000 parameter
# one line of code here

os.chdir("C:\\Users\\pbj2766\\Documents\\Data Science\\Yelp")
review_reader = pd.read_json('review.json', lines =  True, chunksize= 100000)
# review_reader = pd.read_json('yelp_academic_dataset_review.json', lines =  True, chunksize = 100000)

In [14]:
%%time
# task: process the file one chunk at a time,
# filter that chunk for rows with a business_id in business_ids
# You can either do this within in a loop, having initialized an empty list,
# or using a more pythonic list comprehension
reviews = [review.loc[review['business_id'].apply(lambda x: x in business_ids)] for review in review_reader]
# (this took some 24 minutes on my old i7)

Wall time: 14min 40s

In [17]:
reviews[0]

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
5,fdiNeiN_hoCxCMy2wTRW9g,w31MKYsNFMrjhWxxAb5wIw,eU_713ec6fTGNO4BegRaww,4,0,0,0,I'll be the first to admit that I was not exci...,2013-01-20 13:25:59
15,svK3nBU7Rk8VfGorlrN52A,NJlxGtouq06hhC7sS2ECYw,YvrylyuWgbP90RgMqZQVnQ,5,0,0,0,You can't really find anything wrong with this...,2017-04-07 21:27:49
19,4bUyL7lzoWzDZaJETAKREg,_N7Ndn29bpll_961oPeEfw,y-Iw6dZflNix4BdwIyTNGA,3,0,0,0,Good selection of classes of beers and mains. ...,2014-06-27 21:19:23
20,Amo5gZBvCuPc_tZNpHwtsA,DzZ7piLBF-WsJxqosfJgtA,qx6WhZ42eDKmBchZDax4dQ,5,1,0,0,"Our family LOVES the food here. Quick, friendl...",2017-03-27 01:14:37
22,IByf6mVY0WA838XNSh-5MA,3CJUJILq7CLHk_9OrvpvQg,I4Nr-MVc26qWr08-S3Q1ow,4,0,0,0,The food is always good and the prices are rea...,2016-01-17 05:26:22
...,...,...,...,...,...,...,...,...,...
99894,gQJFrRP2_5U0okZQ3adqOQ,-znBbADZqQ_30bWe6o6rKg,-Dnh48f029YNugtMKkkI-Q,4,0,0,0,Went here because our first choice was packed!...,2017-02-12 01:52:43
99897,XItEa10SU7ZJIkhn-qUXHw,THehvpH1mDrMioOV6JSZxw,qx6WhZ42eDKmBchZDax4dQ,5,0,0,0,Best service in town! As soon as we walked in ...,2018-03-05 01:04:30
99948,R0gQu-1Pgm8Ws0otu8Dvow,4ypEkjMXPe7ga3U9XzArqQ,XsSgv3vBOyOBXn3Co8EVIg,1,2,4,1,Holy cow. You Vegas folks have low standards.\...,2015-08-09 01:34:52
99967,fKj7icAM7X-9wKoGDgfPEw,9QBlihI5c7wT_SKNT1y_KQ,dUffgo9Lh_Vk9TLuFR5ywg,5,1,0,1,I've been here twice. I love it here. the vibe...,2015-05-29 10:02:11
99982,HSyW6gxEKguITFecPr92qQ,s0wOwU_bkxfTMW2oFnM_tQ,N6MzDoao6s68nAIW8vS9dQ,5,0,0,0,"Ordered in on a rainy windy day, they accommod...",2017-03-29 20:40:41

In [22]:
type(reviews)

list

In [23]:
len(reviews)

67

In [24]:
# task convert your reviews into a DataFrame
# one line of code here
reviews = pd.concat(reviews)

In [25]:
reviews.shape

(394428, 9)

In [26]:
reviews.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
5,fdiNeiN_hoCxCMy2wTRW9g,w31MKYsNFMrjhWxxAb5wIw,eU_713ec6fTGNO4BegRaww,4,0,0,0,I'll be the first to admit that I was not exci...,2013-01-20 13:25:59
15,svK3nBU7Rk8VfGorlrN52A,NJlxGtouq06hhC7sS2ECYw,YvrylyuWgbP90RgMqZQVnQ,5,0,0,0,You can't really find anything wrong with this...,2017-04-07 21:27:49
19,4bUyL7lzoWzDZaJETAKREg,_N7Ndn29bpll_961oPeEfw,y-Iw6dZflNix4BdwIyTNGA,3,0,0,0,Good selection of classes of beers and mains. ...,2014-06-27 21:19:23
20,Amo5gZBvCuPc_tZNpHwtsA,DzZ7piLBF-WsJxqosfJgtA,qx6WhZ42eDKmBchZDax4dQ,5,1,0,0,"Our family LOVES the food here. Quick, friendl...",2017-03-27 01:14:37
22,IByf6mVY0WA838XNSh-5MA,3CJUJILq7CLHk_9OrvpvQg,I4Nr-MVc26qWr08-S3Q1ow,4,0,0,0,The food is always good and the prices are rea...,2016-01-17 05:26:22

In [27]:
# task: save the DataFrame to the specified file now.
# don't forget to use index=False
reviews.to_csv('reviews_filtered.csv', index=False)